.signup-page {
    padding: 100px 0;
}

.signup-page .form-wrapper {
    max-width: 520px;
    margin: auto;
}

.signup-page .form-wrapper h1 {
    font-size: 31px;
    margin: 0 0 30px 0;
    position: relative;
    padding: 0 0 10px 0;
}

.signup-page .form-wrapper h1 span {
    display: block;
}

.signup-page .form-wrapper h1::before {
    width: 47px;
    height: 5px;
    background-color: #b8b7b7;
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.signup-page .form-inner .form-group>label {
    font-size: 14px;
    color: #f1ca3f;
    font-weight: 700;
}

.signup-page .form-inner .form-group .form-control {
    border: 2px solid #f1ca3f;
    box-shadow: none;
    outline: none;
    font-weight: 600;
}

.signup-page .form-wrapper .button-wrap .btn {
    width: 100%;
    max-width: 200px;
    margin: 0 0 20px 0;
}

.signup-page .form-wrapper .check-wrap {
    display: flex;
    flex-wrap: wrap;
}

.signup-page .form-wrapper .check-wrap .form-check {
    margin-right: 20px;
    padding: 0;
}

.signup-page .form-wrapper .check-wrap .form-check input[type="radio"] {
    display: none;
}

.signup-page .form-wrapper .check-wrap .form-check .form-check-label {
    font-size: 14px;
    color: #8c8a8a;
    font-weight: 600;
    position: relative;
    padding-left: 22px;
}

.signup-page .form-wrapper .check-wrap .form-check .form-check-label::before {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 2px solid #b8b7b7;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    transition: border-color .3s;
}

.signup-page .form-wrapper .check-wrap .form-check .form-check-label::after {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 5px;
    background-color: #f1ca3f;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 4px;
    opacity: 0;
    transition: .3s;
    visibility: hidden;
}

.signup-page .form-wrapper .check-wrap .form-check input:checked+.form-check-label::after {
    opacity: 1;
    visibility: visible;
}

.signup-page .form-wrapper .check-wrap .form-check input:checked+.form-check-label::before {
    border-color: #f1ca3f;
}

.form-check-label span {
    color: #ff0000;
}

.signup-page .form-wrapper .terms-check .form-check-label a {
    color: #000;
    font-weight: 700;
}