{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}
<style>
    .password{
        position:relative;
    }
</style>
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Change Password</h4>
                    </div>
                    <div class="card-body">
                        <div class="profile-tab">
                            <div class="settings-form">
                                <form method="POST" id="change">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6 password">
                                            <label>New Password</label>
                                            <input type="password" placeholder="New Password" name="password"
                                                id="password" required maxlength="12" minlength="8"
                                                class="form-control form-control-lg">
                                            <span type="checkbox" data-attr="password" class="eyeicon">
                                                <i class="eye fas fa-eye-slash"></i>
                                            </span>
                                        </div>
                                        <div class="form-group col-md-6 password">
                                            <label>Confirm Password</label>
                                            <input type="password" placeholder="Confirm Password" name="password1"
                                                id="password1" required maxlength="12" minlength="8"
                                                class="form-control form-control-lg">
                                            <span type="checkbox" data-attr="password1" class="eyeicon1">
                                                <i class="eye fas fa-eye-slash"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% include "admin-includes/footer.html" %}
<script type="text/javascript">
    $(document).on('click', '.eyeicon', function () {
        var x = document.getElementById($(this).attr("data-attr"));
        if (x.getAttribute('type') == "password") {
            $(this).find(".eye").removeClass("fas fa-eye-slash");
            $(this).find(".eye").addClass("fas fa-eye");
            x.removeAttribute("type");
            x.setAttribute("type", "text");
        } else {
            x.removeAttribute("type");
            x.setAttribute('type', 'password');
            $(this).find(".eye").removeClass("fas fa-eye");
            $(this).find(".eye").addClass("fas fa-eye-slash");
        }
    })
    $(document).on('click', '.eyeicon1', function () {
        var x = document.getElementById($(this).attr("data-attr"));
        if (x.getAttribute('type') == "password") {
            $(this).find(".eye").removeClass("fas fa-eye-slash");
            $(this).find(".eye").addClass("fas fa-eye");
            x.removeAttribute("type");
            x.setAttribute("type", "text");
        } else {
            x.removeAttribute("type");
            x.setAttribute('type', 'password');
            $(this).find(".eye").removeClass("fas fa-eye");
            $(this).find(".eye").addClass("fas fa-eye-slash");
        }
    })
</script>
<script type="text/javascript">
    $("#change").validate({
        rules: {
            password: {
                required: true,
                minlength: 8,
                normalizer: function( value ) {
                    return $.trim( value );
                }
            },
            password1: {
                required: true,
                minlength: 8,
                equalTo: "#password",
                normalizer: function( value ) {
                    return $.trim( value );
                }
            }
        },
        messages: {
            password: {
                required: "Please enter new password",
                minlength: jQuery.validator.format("At least {0} characters required!")
            },
            password1: {
                required: "Please enter confirm password",
                minlength: jQuery.validator.format("At least {0} characters required!"),
                equalTo: "Passwords do not match!"
            }
        }
    });
</script>