{% include 'admin-includes/header.html' %}
{% load static %}
{% block content %}		

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">	
        <div class="row">
            <div class="col-12">
                <div class="card card-custom">
                    <div class="card-header d-flex justify-content-between align-items-center card-header-custom">
                        <h4 class="card-title">
                            Services Management</h4>
                        <div class="addlocation">
                            <a data-toggle="modal" data-target="#addService" style="cursor: pointer;"><i class="far fa-plus mr-1"></i>Add Service</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form action="{% url 'services:services_list' %}" method="GET">
                                <table class="sortable table table-responsive-md ">
                                    <thead>
                                        <tr>
                                            <th><strong>Id</strong></th>
                                            <th><strong>Name</strong></th>
                                            <th><strong>Description</strong></th>
                                            <th><strong>Created On</strong></th>
                                            <th><strong>Updated On</strong></th>
                                            <th><strong>Action</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if services %}
                                        {% for service in services  %}
                                            <tr>
                                                <td>{{service.id}}</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        {% if service.image %}
                                                        <img src="{{service.image.url}}" class="rounded-lg mr-2" width="24" alt="">{% endif %}{{service.name}}
                                                    </div>
                                                </td>
                                                <td>{{service.description}}</td>
                                                <td>
                                                    <script>
                                                        var d = ConvertGTime("{{ service.created_on|date:'Y-m-d' }}","{{ service.created_on|time:'H:i' }}");
                                                        document.write(d);
                                                    </script>
                                                </td>
                                                <td>
                                                    <script>
                                                        var d = ConvertGTime("{{ service.updated_on|date:'Y-m-d' }}","{{ service.updated_on|time:'H:i' }}");
                                                        document.write(d);
                                                    </script>
                                                </td>
                                                <td>
                                                    <div class="d-flex">
                                                        <a href="{% url 'services:view_service' service.id %}" class="btn btn-success shadow btn-xs sharp mr-1"><i class="fa fa-eye"></i></a>
                                                        
                                                        <a onclick="return confirm('Are you sure to delete this service?')" href="{% url 'services:delete_service' service.id %}" class="btn btn-danger shadow btn-xs sharp mr-1"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <td align="center" colspan="6">No Data Found</td>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </form>
                            {% if services.has_other_services %}
							<ul class="pagination">
								{% if services.has_previous %}
								<li><a href="?page={{ services.previous_page_number }}">&laquo;</a></li>
								{% else %}
								<li class="disabled"><span>&laquo;</span></li>
								{% endif %}
								{% for i in services.paginator.page_range %}
								{% if services.number == i %}
								<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
								{% else %}
								<li><a href="?page={{ i }}">{{ i }}</a></li>
								{% endif %}
								{% endfor %}
								{% if services.has_next %}
								<li><a href="?page={{ services.next_page_number }}">&raquo;</a></li>
								{% else %}
								<li class="disabled"><span>&raquo;</span></li>
								{% endif %}
							</ul>
							{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addService" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Service</h4>
            </div>
            <div class="modal-body">
                <form id="add-service" action="{% url 'services:add_service' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control form-control-lg">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Image</label>
                            <input type="file" name="image" class="form-control form-control-lg">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Description</label>
                            <textarea name="description" class="form-control form-control-lg"></textarea>
                        </div>
                        <div class="d-flex col-md-12" style="justify-content: flex-end;">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% include 'admin-includes/footer.html' %}
<script>
    $("#add-service").validate({
        rules: {
            name: {
                required: true,
                normalizer: function( value ) {
                    return $.trim( value );
                }
            },
            image: {
                required: true,    
                accept: "jpg,png,jpeg,gif"            
            }
        },
        messages: {
            name: {
                required: "Please enter service name",
            },
            image: {
                required: "Please select a service image",
                accept: "Please upload file in these format only (jpg, jpeg, png, gif)"
            }
        }
    });
</script>