/* Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* Common CSS */

:root {
    --primary-color: #f1ca3f;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    background-position: center;
}


.page-wrapper {
    flex: 1 1 auto;
    z-index: 1;
}



h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a:hover {
    color: #ff7116;
    text-decoration: none;
}

.error {
    color: var(--primary-color);
}

dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    text-align: left;
}

input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 2px;
    background-color: transparent;
    border: 1px solid #424242;
    border-radius: 0;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    text-align: center;
    color: #f8c506;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label::before {
    color: #ffffff;
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-size: 13px;
    line-height: 1.4;
    background: #f8c506;
    border-color: #f8c506;
}

.text-primary {
    color: var(--primary-color) !important;
}

.btn {
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.2;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    transition: 0.15s background-color ease-in-out, 0.15s color ease-in-out;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    font-weight: 600;
    -o-border-radius: 4px;
}

.btn-link {
    background: transparent;
    color: var(--primary-color);
    border-color: transparent;
    text-decoration: none !important;
    transition: 0.15s border-color ease-in-out;
}

.btn-link:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-bordered {
    background: transparent;
    color: var(--primary-color);
    transition: 0.15s background-color ease-in-out, 0.15s color ease-in-out;
}

.btn-bordered:hover {
    background: var(--primary-color);
    color: #fff;
}

.btn-theme:hover {
    background-color: #151e32;
    color: #fff;
    border-color: transparent;
}

.btn.btn-lg {
    padding: 12px 25px;
    font-size: 1.25rem;
}

.btn-theme-alt {
    background: #efbe05;
}

.btn-theme-alt:hover {
    background-color: #151e32;
    color: #fff;
    border-color: transparent;
}

.btn.btn-theme-light {
    background-color: #d0faef;
    color: var(--primary-color);
    border-color: #d0faef;
}

.btn.btn-theme-light:hover {
    color: #FFF;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.automotive-header-transparent {
    top: 0;
    width: 100%;
    position: absolute;
    background: transparent;
    z-index: 9;
}

.automotive-header-transparent.fixed {
    -webkit-animation: headerSlideDown .95s ease forwards;
    animation: headerSlideDown .95s ease forwards;
}

@-webkit-keyframes headerSlideDown {
    0% {
        margin-top: -100px;
    }

    to {
        margin-top: 0;
    }
}

@keyframes headerSlideDown {
    0% {
        margin-top: -100px;
    }

    to {
        margin-top: 0;
    }
}

.automotive-header-transparent.fixed .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}


[class*="navbar-expand"] {
    padding: 0px 0;
}

[class*="navbar-expand"] .navbar-nav .nav-item:not(:last-child) {
    margin: 0 40px 0 0;
}

[class*="navbar-expand"] .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    padding: 0 5px;
}

[class*="navbar-expand"] .navbar-brand {
    padding: 0;
    max-width: 160px;
}

.top-social li a i {
    color: #fff;
}

#nav-icon2 {
    width: 40px;
    height: 28px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 99;
}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background: var(--primary-color);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1) {
    top: 0px;
}

#nav-icon2 span:nth-child(2) {
    top: 0px;
}

#nav-icon2 span:nth-child(3) {
    top: 10px;
}

#nav-icon2 span:nth-child(4) {
    top: 10px;
}

#nav-icon2 span:nth-child(5) {
    top: 20px;
}

#nav-icon2 span:nth-child(6) {
    top: 20px;
}

#nav-icon2.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 5px;
    top: 7px;
}

#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: calc(50% - 5px);
    top: 16px;
}

#nav-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: calc(50% - 5px);
    top: 7px;
}

#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 5px;
    top: 16px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.menu-open .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
    top: 0;
}

.menu-open #nav-icon2 span {
    background: var(--primary-color);
}



[class*="navbar-expand"] .navbar-nav .nav-item .header-btns {
    width: 62px;
    height: 62px;
    background-color: #f1ca3f;
    line-height: 62px;
    padding: 0;
    border: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.section-ptb {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer {
    z-index: 1;
    padding: 20px 0;
}


.social-link li {
    display: inline-block;
    margin: 0 7px;
}

.social-link li a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    color: #076aff;
    font-size: 21px;
    line-height: 46px;
    transition: .3s;
}

.social-link li a:hover {
    background-color: #ff7116;
    color: #fff;
}

.social-link li a:hover i {

    color: #fff;
}

[class*="navbar-expand"] .search-wrapper .form-control {
    height: auto;
    border-radius: 40px;
    background-color: #ffffff;
    font-size: 17px;
    color: #000000;
    padding: 9px 10px 10px 50px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 18px center;
    background-size: 22px;
}

[class*="navbar-expand"] .search-wrapper {
    width: 100%;
    max-width: 540px;
}

[class*="navbar-expand"] .search-wrapper .form-group {
    margin: 0;
}

.inner-page.page-body [class*="navbar-expand"] .navbar-nav .nav-item .nav-link {
    color: #000;
}

.inner-page.page-body .social-link li a {
    color: #f1ca3f;
    line-height: 44px;
    border: 1px solid #f1ca3f;
}

.footer-bottom p {
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    margin: 0;
}

.footer-bottom {
    padding: 10px 0;
    background: #f1ca3f;
    z-index: 1;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1080px;
    }

    [class*="navbar-expand"] .container {
        max-width: 1440px;
    }
}

@media (max-width: 1499.98px) {
    .section-heading h3 {
        font-size: 38px;
    }
}

@media (max-width: 1199.98px) {
    [class*="navbar-expand"] .navbar-nav .nav-item:not(:last-child) {
        margin-right: 25px;
    }

    [class*="navbar-expand"] .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        color: #000;
    }

    .footer-cta .call-to-action-inner h3 {
        font-size: 30px;
    }

    [class*="navbar-expand"] .search-wrapper {
        padding: 20px 20px 0px 20px;
    }

    [class*="navbar-expand"] .search-wrapper .form-control {
        font-size: 15px;
        padding: 9px 10px 10px 43px;
        background-position: 18px center;
        background-size: 17px;
    }
}

@media (max-width: 991.98px) {
    [class*="navbar-expand"] {
        padding: 20px 15px;
    }

    [class*="navbar-expand"] .navbar-nav .nav-item:not(:last-child) {
        margin: 15px 25px;
    }

    .menu-open {
        overflow: hidden;
        overflow-x: hidden;
    }

    #navbarNav.navbar-collapse {
        background-color: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
        position: fixed !important;
        min-height: 100vh;
        top: 0;
        padding: 0;
        height: 100%;
        left: -100%;
        width: 300px;
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        display: block;
        z-index: 99;
        display: flex;
        flex-direction: column;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }

    #navbarNav.navbar-collapse.menu-show {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    #navbarNav.navbar-collapse .navbar-nav {
        width: 100%;
        padding-top: 20px
    }

    .navbar-nav .nav-item {
        display: inline-block;
        width: 100%;
        margin: 15px 0 !important;
        padding: 0 25px;
    }

    .navbar-nav .nav-link.signup_butn {
        padding: 0;
    }

    .navbar-nav.align-items-center.nav-butns {
        display: flex;
        align-items: center;
        flex-direction: revert;
    }

    .navbar-nav.align-items-center.nav-butns .nav-item {
        text-align: center;
        border-right: 1px solid #bbb;
    }

    .navbar-nav.align-items-center.nav-butns .nav-item:last-child {
        border-right: 0;
    }

    .navbar-nav.align-items-center.nav-butns {
        display: flex;
        align-items: center;
        flex-direction: revert;
        border-bottom: 1px solid #bbb;
    }

}

@media (max-width: 767.98px) {
    .section-ptb {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .btn.btn-lg {
        padding: 12px 25px;
        font-size: 1rem;
    }

    [class*="navbar-expand"] .navbar-brand {
        max-width: 90px;
    }
}

@media (max-width: 374.98px) {
    #navbarNav.navbar-collapse.menu-show {
        width: 270px;
    }

}