{% load static %}
</main>
<!--Footer Here-->
<footer class="footer">
    <div class="container">
        <ul class="social-link text-center">
            <li><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</footer>
<div class="footer-bottom text-center">
    <div class="container">
        <p>
            <a target="_blank" href="{% url 'frontend:privacy_policy' %}" title="Privacy Policy">Privacy Policy</a> | 
            &copy; <script>document.write(new Date().getFullYear());</script> Psychology
        </p>
    </div>
</div>
<!-- common -->
<script src="{% static 'admin-asset/js/jquery.min.js' %}"></script>
<script src="{% static 'frontend-asset/js/common.js' %}"></script>
<script src="{% static 'admin-asset/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'admin-asset/js/additional-methods.min.js' %}"></script>
<!-- SCRIPTS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/aos.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/smoothscroll.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>

</body>

</html>