<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="The central resource for information about travel softball teams in North America" />
    <meta name="author" content="">
    <title>Quenix</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="" />
    
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'frontend-asset/css/bootstrap.min.css' %}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'frontend-asset/css/helpers-plugin.css' %}" />
    <!-- Style Css -->
    <link rel="stylesheet" href="{% static 'frontend-asset/css/theme-style.css' %}" />
    <!-- fontawesome Css -->
    <link rel="stylesheet" href="{% static 'frontend-asset/fonts/fontawesome/css/all.min.css' %}" />
    <!-- style Css -->
    <link rel="stylesheet" href="{% static 'frontend-asset/css/flash.css' %}" />
    <!-- jquery JS -->
    <!-- bootstrap JS -->
    <script src="{% static 'frontend-asset/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'frontend-asset/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body class="page-body home-page">
    <header class="automotive-header-transparent pt-20">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="{% url 'frontend:index' %}">
                    QUENIX
                </a>
                <button id="nav-icon2" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-lg-auto align-items-center mr-lg-20 order-2 order-lg-1">
                        <li class="nav-item">
                            <a class="nav-link" href="">About Us</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Start Page Wrapper -->
    <main class="page-wrapper">
    {% if messages %}
        <div class="flash animate--drop-in-fade-out">
        {% for message in messages %}
            <div class="flash__icon">
                <i class="icon far fa-check-circle"></i>
            </div>
            
            <p class="flash__body">
                {{ message }}
            </p>
            {% endfor %}
        </div>
    {% endif %}